speechrecognition
pyttsx3
pyaudio
pyautogui
tensorflow
numpy
requests
PyQt5
google-generativeai
edge-tts
faster-whisper
torch
websockets
aiofiles
# Vision Dependencies
ultralytics
face-recognition
opencv-python
pillow
transformers
